<section class="carousel-banner container">
    <div id="carouselExampleIndicators" class="carousel slide bk-gray" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block img-fluid" src="/images/cyc-aboutus1400x365.jpg" alt="Sydney">
            </div>
        </div>
    </div>
</section>