<!-- Cart Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/table.min.css">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title txt-green" id="exampleModalLabel"><i class="fa fa-shopping-cart" aria-hidden="true"></i> 購物車</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="ui green unstackable table">
                    <thead>
                    <tr>
                        <th>產品</th>
                        <th>類型</th>
                        <th class="right aligned">金額</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <strong>悉尼市區遊</strong><br/>
                            出發日期: <span class="en">2017-11-20</span><br/>
                            上車時間: <span class="en">9:30am</span><br/>
                            上車地點: 中國城海港路
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">成人</div>
                                <div class="col-sm-4  lang-en">$39</div>
                                <div class="col-sm-4">
                                    <div class="col-auto">
                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option>0</option>
                                            <option value="1">1</option>
                                            <option value="2" selected>2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="right aligned lang-en">$78</td>
                    </tr>
                    <tr>
                        <th colspan="3">悉尼市區遊 || 活動門票</th>
                    </tr>
                    <tr>
                        <td>觀光遊船</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">成人</div>
                                <div class="col-sm-4  lang-en">$39</div>
                                <div class="col-sm-4">
                                    <div class="col-auto lang-en">
                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option>0</option>
                                            <option value="1">1</option>
                                            <option value="2" selected>2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">小童</div>
                                <div class="col-sm-4 lang-en">$25</div>
                                <div class="col-sm-4">
                                    <div class="col-auto lang-en">
                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option selected>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="right aligned lang-en">$78</td>
                    </tr>
                    <tr>
                        <td>動物園</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">成人</div>
                                <div class="col-sm-4 lang-en">$39</div>
                                <div class="col-sm-4">
                                    <div class="col-auto">
                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option selected>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">小童</div>
                                <div class="col-sm-4 lang-en">$25</div>
                                <div class="col-sm-4">
                                    <div class="col-auto">
                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option selected>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="right aligned lang-en">$0</td>
                    </tr>
                    <tr>
                        <td>
                            <strong>休閒墨爾本</strong><br/>
                            出發日期: <span class="en">2017-11-22</span><br/>
                            上車時間: <span class="en">08:15am</span><br/>
                            上車地點: 墨爾本唐人街
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">成人</div>
                                <div class="col-sm-4 lang-en">$60</div>
                                <div class="col-sm-4">
                                    <div class="col-auto">
                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option>0</option>
                                            <option value="1">1</option>
                                            <option value="2" selected>2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">小童</div>
                                <div class="col-sm-4 lang-en">$60</div>
                                <div class="col-sm-4">
                                    <div class="col-auto">
                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option>0</option>
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="right aligned lang-en">$180</td>
                    </tr>
                    <tr>
                        <th colspan="3">休閒墨爾本 || 活動門票</th>
                    </tr>
                    <tr>
                        <td>蒸汽火車</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">成人</div>
                                <div class="col-sm-4 lang-en">$39</div>
                                <div class="col-sm-4">
                                    <div class="col-auto lang-en">
                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option selected>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">小童</div>
                                <div class="col-sm-4 lang-en">$25</div>
                                <div class="col-sm-4">
                                    <div class="col-auto lang-en">
                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option selected>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="right aligned lang-en">$0</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold text-right price-title" colspan="2">總額</td>
                        <td class="right aligned font-weight-bold lang-en price">$336</td>
                    </tr>
                    </tbody>
                </table>

                <!-- Customer details -->
                <div class="customer-details">

                    <div class="card border-light mb-3" style="">
                        <div class="card-header font-weight-bold">顧客信息</div>
                        <div class="card-body">
                            <!-- <h4 class="card-title">Light card title</h4> -->
                            <p class="card-text">
                            <form>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="名字">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="姓">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="電子郵件">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="聯繫電話">
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </form>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-outline-success"><i class="fa fa-paypal" aria-hidden="true"></i> 付款</button>
                <button type="button" class="btn btn-outline-success"><i class="fa fa-wechat" aria-hidden="true"></i> 付款</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->