<footer>
    <section class="footer pt-3 pb-3">
        <div class="container">
            <dl>
                <!--<dt>產品和服務</dt>-->
                <!--<dd>-->
                    <!--<ul class="nav">-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link active" href="/attractions">景點優惠</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link active" href="/deals">熱點推介</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" href="/hotels">澳洲酒店精選</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" href="/insurance">旅遊保險</a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" href="/services">機場接送及包車</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</dd>-->
                <dt>公司簡介</dt>
                <dd>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="/gallery">見聞相片集</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">關於見聞</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">聯繫我們</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/terms">取消及退款政策</a>
                        </li>
                    </ul>
                </dd>
                <dd class="img">
                    <img src="/images/iata-tids.jpg" alt="">
                    <img src="/images/cyc-logo-footer-230px.jpg" alt="">
                </dd>
                <dd class="lang-en copyright">CYC Travel Services Pty Ltd &copy; 2018 IATA TIDS: 9685275</dd>
            </dl>
        </div>
    </section>
</footer>