<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title txt-green" id="exampleModalLabel"><i class="fa fa-sign-in" aria-hidden="true"></i> 登錄</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="inputUsername">用戶名</label>
                        <input type="email" class="form-control" id="inputUsername" placeholder="username@example.com">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">密碼</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">忘記密碼?</button>
                <a href="/user/signup" class="btn btn-secondary">注冊</a>
                <a href="/user/profile" class="btn btn-success">登錄</a>
            </div>
        </div>
    </div>
</div>
<!-- End Login Modal -->