<!-- Content of the page -->
<section class="about-section container mt-5 mb-5">
    <h2 class="section-heading">關於見聞</h2>

    <h4 class="mb-3 pl-3">見聞國際旅行社</h4>
    <p>見聞國際旅行社成立於1988年，目前已有27年專業旅遊服務經驗。公司擁有由澳洲新南威爾士州、維多利亞州、昆士蘭州交通管理局批核的旅遊巴士運作執照。見聞國際旅行社的業務範圍涵蓋旅遊、機票、郵輪、保險、酒店、包車、包團等，為您提供一站式旅遊服務。我們在 CITY (唐人街), EASTWOOD (依仕活） 以及HURSTVILLE（好仕圍）都設有分公司，在業界具有良好的口碑和很高的信譽度。</p>
    <p>本公司由多位精通旅遊業務的管理層及熟練的執行人員組成一支訓練有素，經驗豐富的隊伍，經過十多年的合作，使公司業務穩步邁向國際社會。</p>
    <h4 class="mb-3 pl-3">公司業務範圍</h4>
    <ul>
        <li>接待澳洲入境旅遊（INBOUND TOUR) - 團體、散客</li>
        <li>組織澳洲本地旅遊（DOMESTIC TOUR) - 團體、散客</li>
        <li>組織澳洲出境旅遊（INTERNATIONAL TRAVEL) - 團體、散客</li>
        <li>安排澳洲特殊旅遊（SPECIALIST TOUR) - 團體、散客   國際、内陸航空票務 - 團體、散客</li>
        <li>國際、境内酒店訂房 - 團體、散客</li>
        <li>國際、境内自助旅遊套票</li>
        <li>境内長途巴士票務</li>
        <li>境内旅遊巴士租務</li>
        <li>旅遊平安保險-國際、境内</li>
    </ul>
</section>
<!-- End Content of the page -->