<!-- Content of the page -->
<section class="gallery-section container mt-5">
    <h2 class="section-heading">見聞相集</h2>

    <div class="card-columns">
        <a class="gallery-href card-href" href="#" data-toggle="modal" data-target="#galleryModal">
            <div class="card">
                <img class="card-img-top" src="/images/bluemountains318x180.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">藍山</h4>
                </div>
            </div>
        </a>
        <a class="gallery-href card-href" href="#" data-toggle="modal" data-target="#galleryModal">
            <div class="card">
                <img class="card-img-top" src="/images/bondi_443x208.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">邦達海灘</h4>
                </div>
            </div>
        </a>
        <a class="gallery-href card-href" href="#" data-toggle="modal" data-target="#galleryModal">
            <div class="card">
                <img class="card-img-top" src="/images/bluemountains318x180.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">藍山</h4>
                </div>
            </div>
        </a>
        <a class="gallery-href card-href" href="#" data-toggle="modal" data-target="#galleryModal">
            <div class="card">
                <img class="card-img-top" src="/images/Brighton_Beach400x300.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">布萊頓海灘</h4>
                </div>
            </div>
        </a>
        <a class="gallery-href card-href" href="#" data-toggle="modal" data-target="#galleryModal">
            <div class="card">
                <img class="card-img-top" src="/images/bluemountains318x180.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">藍山</h4>
                </div>
            </div>
        </a>
        <a class="gallery-href card-href" href="#" data-toggle="modal" data-target="#galleryModal">
            <div class="card">
                <img class="card-img-top" src="/images/harbour_brige443x300.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">海港大橋</h4>
                </div>
            </div>
        </a>
        <a class="gallery-href card-href" href="#" data-toggle="modal" data-target="#galleryModal">
            <div class="card">
                <img class="card-img-top" src="/images/Sydney.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">歌劇院</h4>
                </div>
            </div>
        </a>
        <a class="gallery-href card-href" href="#" data-toggle="modal" data-target="#galleryModal">
            <div class="card">
                <img class="card-img-top" src="/images/uluru.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">烏魯魯</h4>
                </div>
            </div>
        </a>
    </div>

    <nav aria-label="Page navigation example lang-en">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
<!-- End Content of the page -->

<!-- Gallery Modal -->
<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg text-center" role="document">
        <div class="modal-content d-inline-block">
            <div class="modal-header">
                <h5 class="modal-title" id="galleryModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" alt="">
            </div>
        </div>
    </div>
</div>
<!-- End Gallery Modal -->