<section class="recommendation container mt-5 mb-5">
    <h2 class="section-heading">線路推介</h2>
    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/product_details">
                <div class="card">
                    <span class="badge card-badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <img class="card-img-top" src="/images/card-sydney.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼市區遊</h4>
                        <p class="card-text">悉尼歌劇院, 悉尼海港大橋, 達令港, 巖石區, 唐人街, 達令港, 海洋水...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$39</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/product_details">
                <div class="card">
                    <span class="badge card-badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <img class="card-img-top" src="/images/card-sydney.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼市區遊</h4>
                        <p class="card-text">悉尼歌劇院, 悉尼海港大橋, 達令港, 巖石區, 唐人街, 達令港, 海洋水...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$39</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>

        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/product_details">
                <div class="card">
                    <span class="badge card-badge"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                    <img class="card-img-top" src="/images/card-sydney.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼市區遊</h4>
                        <p class="card-text">悉尼歌劇院, 悉尼海港大橋, 達令港, 巖石區, 唐人街, 達令港, 海洋水...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$39</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="loved container mt-5 mb-5">
    <h2 class="section-heading">我最喜愛</h2>
    <div class="row">
        <div class="col-sm-7 mb-3">
            <a class="card-href" href="#">
                <div class="card">
                    <span class="badge card-badge"><i class="fa fa-heart" aria-hidden="true"></i></span>
                    <img class="card-img-top" src="/images/bondi_638x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">邦達海灘</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$39</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>

        <div class="col-sm-5 mb-3">
            <a class="card-href" href="#">
                <div class="card">
                    <span class="badge card-badge"><i class="fa fa-heart" aria-hidden="true"></i></span>
                    <img class="card-img-top" src="/images/harbour_brige443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼大橋</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$39</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="adv container">
    <div class="row">
        <div class="col-sm-12 mb-3">
            <div id="carouselAdvControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="/images/adv6_1400px.jpg" alt="First slide">
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="mustgo container mt-5">
    <h2 class="section-heading">一定要去</h2>
    <div id="carouselMustGoControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-3 mb-5">
                        <a class="card-href" href="/shops/product_details">
                            <div class="card">
                                <span class="badge card-badge"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <img class="card-img-top" src="/images/Brighton_Beach400x300.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">休閒墨爾本</h4>
                                    <p class="card-text">蒸汽小火車(含火車票) + 雅拉河山谷酒莊</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 mb-5">
                        <a class="card-href" href="/shops/product_details">
                            <div class="card">
                                <span class="badge card-badge"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <img class="card-img-top" src="/images/Brighton_Beach400x300.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">休閒墨爾本</h4>
                                    <p class="card-text">蒸汽小火車(含火車票) + 雅拉河山谷酒莊</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 mb-5">
                        <a class="card-href" href="/shops/product_details">
                            <div class="card">
                                <span class="badge card-badge"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <img class="card-img-top" src="/images/Brighton_Beach400x300.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">休閒墨爾本</h4>
                                    <p class="card-text">蒸汽小火車(含火車票) + 雅拉河山谷酒莊</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 mb-5">
                        <a class="card-href" href="/shops/product_details">
                            <div class="card">
                                <span class="badge card-badge"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <img class="card-img-top" src="/images/Brighton_Beach400x300.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">休閒墨爾本</h4>
                                    <p class="card-text">蒸汽小火車(含火車票) + 雅拉河山谷酒莊</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3 mb-5">
                        <a class="card-href" href="/shops/product_details">
                            <div class="card">
                                <span class="badge card-badge"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <img class="card-img-top" src="/images/Brighton_Beach400x300.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">休閒墨爾本</h4>
                                    <p class="card-text">蒸汽小火車(含火車票) + 雅拉河山谷酒莊</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 mb-5">
                        <a class="card-href" href="/shops/product_details">
                            <div class="card">
                                <span class="badge card-badge"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <img class="card-img-top" src="/images/Brighton_Beach400x300.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">休閒墨爾本</h4>
                                    <p class="card-text">蒸汽小火車(含火車票) + 雅拉河山谷酒莊</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 mb-5">
                        <a class="card-href" href="/shops/product_details">
                            <div class="card">
                                <span class="badge card-badge"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <img class="card-img-top" src="/images/Brighton_Beach400x300.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">休閒墨爾本</h4>
                                    <p class="card-text">蒸汽小火車(含火車票) + 雅拉河山谷酒莊</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 mb-5">
                        <a class="card-href" href="/shops/product_details">
                            <div class="card">
                                <span class="badge card-badge"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <img class="card-img-top" src="/images/Brighton_Beach400x300.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">休閒墨爾本</h4>
                                    <p class="card-text">蒸汽小火車(含火車票) + 雅拉河山谷酒莊</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-3 mb-5">
                        <a class="card-href" href="/shops/product_details">
                            <div class="card">
                                <span class="badge card-badge"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <img class="card-img-top" src="/images/Brighton_Beach400x300.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">休閒墨爾本</h4>
                                    <p class="card-text">蒸汽小火車(含火車票) + 雅拉河山谷酒莊</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 mb-5">
                        <a class="card-href" href="/shops/product_details">
                            <div class="card">
                                <span class="badge card-badge"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <img class="card-img-top" src="/images/Brighton_Beach400x300.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">休閒墨爾本</h4>
                                    <p class="card-text">蒸汽小火車(含火車票) + 雅拉河山谷酒莊</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 mb-5">
                        <a class="card-href" href="/shops/product_details">
                            <div class="card">
                                <span class="badge card-badge"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <img class="card-img-top" src="/images/Brighton_Beach400x300.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">休閒墨爾本</h4>
                                    <p class="card-text">蒸汽小火車(含火車票) + 雅拉河山谷酒莊</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-3 mb-5">
                        <a class="card-href" href="/shops/product_details">
                            <div class="card">
                                <span class="badge card-badge"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <img class="card-img-top" src="/images/Brighton_Beach400x300.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">休閒墨爾本</h4>
                                    <p class="card-text">蒸汽小火車(含火車票) + 雅拉河山谷酒莊</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselMustGoControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselMustGoControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
