<!-- Content of the page -->
<section class="terms-section container mt-5 mb-5">
    <h2 class="section-heading">取消及退款政策</h2>
    <h4 class="mb-3 pl-3">訂單取消</h4>
    <ol>
        <li>因未達到旅行產品供貨商限定人數，或因為天氣等不可抗因素導致的供貨商取消原有預定，我們將全額退款或是推薦選擇相近的產品替代。但這種情況很少發生，因為我們會盡最大努力滿足顧客的旅行需求。</li>
        <li>詳情頁面“預定政策”中註明“一經確認，出發日期不可更改或退款”的旅行產品，恕不接受修改或退款。</li>
        <li>所有的旅行團都只能經由電話由我們取消</li>
        <li>任何人在預定日期當天因自身或航班延誤等原因遲到或缺席從而未能參加所訂旅行產品，我們會盡力協調，但不保證一定能協調成功，此類情況恕不接受修改或退款。</li>
        <li>任何旅行產品使用後，拒絕一切退款</li>
        <li>顧客因任何原因需要取消預訂，銀行電匯費用將連同取消費一併在退款中扣除。</li>
        <li>如果銀行轉賬，銀行電匯和PayPal付款在澳大利亞發生，我們將通過PayPal和支票處理相關退款。</li>
    </ol>
    <h4 class="mb-3 pl-3">退款方式</h4>
    <ol>
        <li>退款方式將與顧客訂購時的支付方式一致;退款貨幣也將於訂購時的支付貨幣一致。</li>
        <li>退款時的換算匯率將與支付時匯率保持相同，顧客本人將自行承擔匯差盈虧。</li>
        <li>顧客將自行承擔訂購付款及退款時有可能產生的銀行或支付機構的手續費用。</li>
        <li>因信用卡公司的結算日，支付日的關係，最長可能需2個月時間才能退還至顧客賬戶。</li>
        <li>支付寶及銀行退款因處理手續上的原因最長需10個工作日。</li>
    </ol>
</section>
<!-- End Content of the page -->