<div class="user-section container mt-5 mb-5">
    <h4 class="mb-3 pl-3">{{ title }}</h4>
    <!--<div class="row">-->
    <!--<div class="col-sm-2">-->
        <ul class="nav nav-tabs mt-5 mb-5">
            <li class="active">
                <a href="#booking" data-toggle="tab"><i class="fa fa-plane" aria-hidden="true"></i> <br/> 我的訂單</a>
            </li>
            <li class="">
                <a href="#invoice" data-toggle="tab"><i class="fa fa-usd" aria-hidden="true"></i> <br/> 付錢記錄</a>
            </li>
            <li class="">
                <a href="#account" data-toggle="tab"><i class="fa fa-user" aria-hidden="true"></i> <br/> 帳戶管理</a>
            </li>
        </ul>
    <!--</div>-->
    <!--<div class="col-sm-10">-->
        <div class="tab-content">
            <div class="tab-pane active" id="booking">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#訂單</th>
                            <th scope="col">下單日期</th>
                            <th scope="col">產品名稱</th>
                            <th scope="col">發票</th>
                            <th scope="col">狀態</th>
                            <th scope="col">文件</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowscope="row" class="lang-en"><a href="#">1001</a></td>
                            <td class="lang-en">2017-11-05</td>
                            <td>
                                悉尼市區遊 <br/>
                                <!--出發日期: 2017-11-20 <br/>-->
                                <!--上車時間: 9:30am <br/>-->
                                <!--上車地點: 中國城海港路 <br/>-->
                            </td>
                            <td class="amount lang-en"><a href="#">#89011(已付)</a></td>
                            <!--<td>成人 x 2</td>-->
                            <td>待確認</td>
                            <td>
                                <div class="dropdown customer-booking-dropdown">
                                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><i class="fa fa-download" aria-hidden="true"></i>下載確認單</a></a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-download" aria-hidden="true"></i>下載發票</a></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!--<tr>-->
                            <!--<td scope="row">1002</td>-->
                            <!--<td>2017-11-05</td>-->
                            <!--<td>觀光遊船</td>-->
                            <!--<td>成人 x 2</td>-->
                            <!--<td>待確認</td>-->
                            <!--<td>-->
                                <!--<a class="btn btn-outline-secondary disabled" href="#"><i class="fa fa-download" aria-hidden="true"></i>下載</a>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <tr>
                            <td scope="row" class="lang-en"><a href="#">1002</a></td>
                            <td class="lang-en">2017-11-05</td>
                            <td>
                                休閒墨爾本 <br/>
                                <!--出發日期: 2017-11-22 <br/>-->
                                <!--上車時間: 08:15am <br/>-->
                                <!--上車地點: 墨爾本唐人街-->
                            </td>
                            <td class="amount lang-en"><a href="#">#89011(已付)</a></td>
                            <!--<td>-->
                                <!--成人 x 2 <br/>-->
                                <!--小童 x 1 <br/>-->
                            <!--</td>-->
                            <td>待確認</td>
                            <td>
                                <div class="dropdown customer-booking-dropdown">
                                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><i class="fa fa-download" aria-hidden="true"></i>下載確認單</a></a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-download" aria-hidden="true"></i>下載發票</a></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="invoice">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#ID</th>
                            <th scope="col">發票</th>
                            <th scope="col">付款日期</th>
                            <!--<th scope="col">訂單</th>-->
                            <th scope="col">付款金額</th>

                            <th scope="col">付款方法</th>
                            <th scope="col">狀態</th>
                            <!--<th scope="col">文件</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="row" class="lang-en">1658289011</td>
                            <td class="lang-en"><a href="#">#89011</a></td>
                            <td class="lang-en">2017-11-05</td>
                            <td class="lang-en">$336</td>
                            <td class="lang-en">Paypal</td>
                            <td>確認</td>
                            <!--<td>-->
                                <!--<a class="btn btn-outline-secondary disabled" href="#"><i class="fa fa-download" aria-hidden="true"></i>下載發票</a>-->
                            <!--</td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="account">
                <form action="#" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">用戶名</label>
                            <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">密碼</label>
                            <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputFirstName">名字</label>
                            <input type="text" class="form-control" id="inputFirstName" name="firstname" placeholder="Peter">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputLastName">姓</label>
                            <input type="text" class="form-control" id="inputLastName" name="lastname" placeholder="Wong">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputMobile">移動號碼</label>
                            <input type="text" class="form-control" id="inputMobile" name="mobile" placeholder="0405 110 226">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">更改</button>
                </form>
            </div>
        </div>
    <!--</div>-->
    <!--</div>-->
    <div class="tabbable tabs-left lang-en ">


    </div>

</div>