<div class="signup-section container mt-5 mb-5">
    <div class="signup-form">
        <h4 class="pl-3 mb-3">{{ title }}</h4>
        <!--Validation Errors-->
        <form action="/user/signup" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">電子郵件 <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">密碼 <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputFirstName">名字</label>
                    <input type="text" class="form-control" id="inputFirstName" name="firstname" placeholder="Peter">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputLastName">姓</label>
                    <input type="text" class="form-control" id="inputLastName" name="lastname" placeholder="Wong">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputMobile">移動號碼</label>
                    <input type="text" class="form-control" id="inputMobile" name="mobile" placeholder="0405 110 226">
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-success"><i class="fa fa-paper-plane" aria-hidden="true"></i> 提交</button>
        </form>
    </div>
</div>