<!-- Content of the page -->
<section class="country-section container mt-4">
    <h2 class="section-heading">景點優惠</h2>

    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/sydney-cruise443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼海港觀光遊船+塔朗加動物園</h4>
                        <p class="card-text">天天出發，24小時隨時上下</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$39</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/sydney-cruise443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼海港觀光遊船+塔朗加動物園</h4>
                        <p class="card-text">天天出發，24小時隨時上下</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$39</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/sydney-cruise443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼海港觀光遊船+塔朗加動物園</h4>
                        <p class="card-text">天天出發，24小時隨時上下</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$39</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/sydney-harbour-bridge-climb443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼海港大橋攀登</h4>
                        <p class="card-text">普通話的攀登領隊陪同</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$158</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/sydney-harbour-bridge-climb443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼海港大橋攀登</h4>
                        <p class="card-text">普通話的攀登領隊陪同</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$158</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/sydney-harbour-bridge-climb443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼海港大橋攀登</h4>
                        <p class="card-text">普通話的攀登領隊陪同</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$158</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/tree-climbing443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼樹梢探險之旅 </h4>
                        <p class="card-text">從樹頂探索悉尼，天天出發（需提前預約</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$46</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/tree-climbing443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼樹梢探險之旅 </h4>
                        <p class="card-text">從樹頂探索悉尼，天天出發（需提前預約</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$46</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/tree-climbing443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼樹梢探險之旅 </h4>
                        <p class="card-text">從樹頂探索悉尼，天天出發（需提前預約</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$46</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>

    <nav aria-label="Page navigation example lang-en">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
<!-- End Content of the page -->