<!-- Content of the page -->
<section class="hotels-section container mt-4">
    <h2 class="section-heading">澳洲酒店精選</h2>

    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/hotel_details">
                <div class="card">
                    <!-- <div class="hotel-video-wapper">
                        <div class="hotel-video-overlay"></div>
                        <video class="card-img-top hotel-video" src="video/elevators.mp4" autoplay="true" loop="true"></video>
                    </div> -->

                    <img class="card-img-top" src="/images/DeVere-hotel443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">
                            迪威爾酒店
                        </h4>
                        <span class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                        <p class="card-text">東區 帕茲角</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$120</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/hotel_details">
                <div class="card">
                    <img class="card-img-top" src="/images/Aspire-Hotel-Sydney443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">
                            悉尼艾斯比亞酒店
                        </h4>
                        <span class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </span>
                        <p class="card-text">臨近唐人街</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$135</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/hotel_details">
                <div class="card">
                    <img class="card-img-top" src="/images/metro-on-pitt443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">
                            皮特都会酒店
                        </h4>
                        <span class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                        <p class="card-text">臨近唐人街，世界廣場</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$159</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="card-href" href="sydney_/shops/hotel_details">
                <div class="card">
                    <img class="card-img-top" src="/images/DeVere-hotel443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">
                            迪威爾酒店
                        </h4>
                        <span class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                        <p class="card-text">东区 帕茲角</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$120</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/hotel_details">
                <div class="card">
                    <img class="card-img-top" src="/images/Aspire-Hotel-Sydney443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">
                            悉尼艾斯比亞酒店
                        </h4>
                        <span class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </span>
                        <p class="card-text">臨近唐人街</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$135</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/hotel_details">
                <div class="card">
                    <img class="card-img-top" src="/images/metro-on-pitt443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">
                            皮特都会酒店
                        </h4>
                        <span class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                        <p class="card-text">臨近唐人街，世界廣場</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$159</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="card-href" href="sydney_/shops/hotel_details">
                <div class="card">
                    <img class="card-img-top" src="/images/DeVere-hotel443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">
                            迪威爾酒店
                        </h4>
                        <span class="rating">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                        <p class="card-text">东区 帕茲角</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$120</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/hotel_details">
                <div class="card">
                    <img class="card-img-top" src="/images/Aspire-Hotel-Sydney443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">
                            悉尼艾斯比亞酒店
                        </h4>
                        <span class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half" aria-hidden="true"></i>
                            </span>
                        <p class="card-text">臨近唐人街</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$135</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/hotel_details">
                <div class="card">
                    <img class="card-img-top" src="/images/metro-on-pitt443x300.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">
                            皮特都会酒店
                        </h4>
                        <span class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                        <p class="card-text">臨近唐人街，世界廣場</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$159</span> 起</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>

    <nav aria-label="Page navigation example lang-en">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
<!-- End Content of the page -->