<!-- Content of the page -->
<section class="details-section container mt-5">
    <h2>迪威爾酒店 <span class="lang-en product-code">產品編號: AU-HTL002</span></h2>
    <p>東區帕茲角</p>
    <p class="lang-en product-code">44-46 Macleay Street, Potts Point, Sydney NSW 2011 Australia</p>
    <!-- <img class="d-block img-fluid mb-5" src="/images/sydney1.jpg" alt="Sydney"> -->
    <div class="row">
        <div class="col-sm-7 hotel-detail">
            <p><img class="" src="/images/DeVere-hotel443x300.jpg" alt="Card image cap"></p>

            <div class="card-group hotel-features">
                <div class="card">
                    <i class="fa fa-wifi" aria-hidden="true"></i>Wifi
                </div>
                <div class="card">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>市區
                </div>
                <div class="card">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>24
                </div>
            </div>

            <h4 class="mb-3 pl-3">酒店簡述 </h4>
            <p>
                迪威爾酒店是一家位於悉尼東區帕茲角的3.5星級精品酒店，靠近悉尼中央商務區，提供現代舒適的住宿，方便客人前往市內大部分主要旅遊景點。
            </p>
            <h4 class="mb-3 pl-3">預訂須知 </h4>
            <p>
            <ul>
                <li>旺季期間酒店可能會有臨時增加的附加費用，如出現類似情況我們會與您協商是否繼續預訂</li>
                <li>預訂結果請以確認郵件為準</li>
                <li>入住酒店期間請遵守酒店規定，若有違反（如公共區域或房間內吸煙，大聲喧嘩等），酒店有權收取相應費用，需自行承擔</li>
            </ul>
            </p>
            <h4 class="mb-3 pl-3">產品條款 </h4>
            <p>入住酒店期間請遵守酒店規定，若有違反（如公共區域或房間內吸煙，大聲喧嘩等），酒店有權收取相應費用，需自行承擔</p>
        </div>

        <div class="col-sm-5 summary mb-5">
            <div class="card mb-5">
                <form action="">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item li-title">
                            <h4>迪威爾酒店</h4>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-5">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> 入住日期
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="YYYY-MM-DD">
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-5">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> 退房日期
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="YYYY-MM-DD">
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">類型</th>
                                    <th scope="col">早餐</th>
                                    <th scope="col">價格</th>
                                    <th scope="col">房數</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>雙床 <br/>
                                        <span class="bed">
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                    </span>
                                    </td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td>
                                        <span class="lang-en">$120</span>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0 lang-en" id="inlineFormCustomSelect">
                                                <option selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>大床 <br/>
                                        <span class="bed">
                                        <i class="fa fa-user-o left" aria-hidden="true"></i>
                                        <i class="fa fa-user-o right" aria-hidden="true"></i>
                                            <!-- <i class="fa fa-user-o" aria-hidden="true"></i> -->
                                    </span>
                                    </td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td>
                                        <span class="lang-en">$120</span>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0 lang-en" id="inlineFormCustomSelect">
                                                <option selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </li>
                        <li class="list-group-item">
                            <h5><span class="price-title font-weight-bold">總額:</span> <span class="price lang-en">$0</span></h5>
                        </li>
                        <li class="list-group-item text-center">
                            <button type="button" class="btn btn-outline-success mr-2 mb-3"><i class="fa fa-shopping-cart" aria-hidden="true"></i> 加入購物車</button>
                            <button type="button" class="btn btn-outline-success mb-3"><i class="fa fa-paypal" aria-hidden="true"></i> <i class="fa fa-wechat" aria-hidden="true"></i> 立即購買</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <p class="mb-1">&nbsp;</p>
    </div>
</section>
<!-- End Content of the page -->