<!-- Content of the page -->
<section class="country-section container mt-4">
    <h2 class="section-heading">澳洲</h2>
    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="card-href" href="product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/card-sydney.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼市區遊</h4>
                        <p class="card-text">悉尼歌劇院, 悉尼海港大橋, 達令港, 巖石區, 唐人街, 達令港, 海洋水...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$39</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">悉尼</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/card-sydney.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼市區遊</h4>
                        <p class="card-text">悉尼歌劇院, 悉尼海港大橋, 達令港, 巖石區, 唐人街, 達令港, 海洋水...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$39</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">悉尼</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/card-sydney.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼市區遊</h4>
                        <p class="card-text">悉尼歌劇院, 悉尼海港大橋, 達令港, 巖石區, 唐人街, 達令港, 海洋水...</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$39</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">悉尼</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/bluemountains318x180.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">藍山一天團</h4>
                        <p class="card-text">藍山、野生動物園、三姊妹峰</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$39</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">藍山</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/port-stephens318x180.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">藍山一天團</h4>
                        <p class="card-text">藍山、野生動物園、三姊妹峰</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$49</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">藍山</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/port-stephens318x180.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">史蒂芬港</h4>
                        <p class="card-text">爬蟲公園，獵人谷釀酒廠，獵人谷花園</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$79</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">史蒂芬港</span>
                        <span class="badge badge-success">獵人谷</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/hunter-valley318x180.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">獵人谷釀酒廠</h4>
                        <p class="card-text">爬蟲公園，獵人谷釀酒廠，獵人谷花園</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">獵人谷</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/hunter-valley-garden318x180.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">獵人谷花園</h4>
                        <p class="card-text">爬蟲公園，獵人谷釀酒廠，獵人谷花園</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">獵人谷</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/product_details">
                <div class="card">
                    <img class="card-img-top" src="/images/hunter-valley318x180.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">獵人谷釀酒廠</h4>
                        <p class="card-text">爬蟲公園，獵人谷釀酒廠，獵人谷花園</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$59</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">獵人谷</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <nav aria-label="Page navigation example lang-en">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
<!-- End Content of the page -->