<!-- Content of the page -->
<section class="details-section container mt-5">
    <h2>悉尼市區遊 - 5小時包車<span class="lang-en product-code">產品編號: AU-SYD002CHT</span></h2>
    <p>悉尼歌劇院, 悉尼海港大橋,達令港, 巖石區,唐人街, 達令港,海洋水族館, 邦達海灘,南覺咀,自殺崖</p>
    <img class="d-block img-fluid mb-5" src="/images/sydney1.jpg" alt="Sydney">
    <div class="row">
        <div class="col-sm-7">
            <nav class="nav nav-tabs" id="myTab" role="tablist">
                <a class="nav-item nav-link active" id="nav-product-tab" data-toggle="tab" href="#nav-product" role="tab" aria-controls="nav-product" aria-selected="true">產品介紹</a>
                <a class="nav-item nav-link" id="nav-itinerary-tab" data-toggle="tab" href="#nav-itinerary" role="tab" aria-controls="nav-itinerary" aria-selected="false">行程安排</a>
                <a class="nav-item nav-link" id="nav-price-tab" data-toggle="tab" href="#nav-price" role="tab" aria-controls="nav-price" aria-selected="false">費用說明</a>
                <a class="nav-item nav-link" id="nav-terms-tab" data-toggle="tab" href="#nav-terms" role="tab" aria-controls="nav-terms" aria-selected="false">產品條款</a>
                <a class="nav-item nav-link" id="nav-comments-tab" data-toggle="tab" href="#nav-comments" role="tab" aria-controls="nav-comments" aria-selected="false">客戶評論</a>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active pt-5 pb-5" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab">
                    <h4 class="mb-3 pl-3">產品簡述 </h4>
                    <p>
                        悉尼，新州首府以及澳洲最古老的城市，是重要的經濟、政治和文化的中心。建在世界上最漂亮的悉尼港附近.這裏擁有輕松愜意的戶外和海濱生活氛圍，
                        豐富的藝術和文化、美食佳釀、自然美景、都市購物環境與夜生活在此完美結合. 海港是悉尼的核心生活區。 在環形碼頭搭乘渡輪可從海上觀看悉尼歌劇院和悉尼海港大橋和達令港。
                    </p>
                    <h4 class="mt-5 mb-3 pl-3">主要景點</h4>
                    <p>
                        悉尼歌劇院, 悉尼海港大橋,達令港, 巖石區,唐人街, 海洋水族館, 邦達海灘,南覺咀,自殺崖
                    </p>
                    <div class="row">
                        <div class="col-sm-4 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="/images/darling_harbour443x208.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">達令港</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="/images/opera-house443x208.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">歌劇院</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="/images/bondi_443x208.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">邦達海灘</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="/images/darling_harbour443x208.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">達令港</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="/images/opera-house443x208.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">歌劇院</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="/images/bondi_443x208.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-title">邦達海灘</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade pt-5 pb-5" id="nav-itinerary" role="tabpanel" aria-labelledby="nav-itinerary-tab">
                    <h4 class="mb-3 pl-3">旅遊行程</h4>
                    <p>
                        遊覽悉尼市區名勝包括東區玫瑰灣富人區、南角咀的自殺崖，沙質細膩的邦達海灘。乘坐遊船暢遊世界一流美景的悉尼海港及享受自助午餐，遊覽悉尼歌劇院, 海港大橋，岩石區，
                        情人港，深入海底的海洋水族館，杜莎夫人蠟像館約，傍晚5點返抵唐人街。
                    </p>
                </div>
                <div class="tab-pane fade pt-5 pb-5" id="nav-price" role="tabpanel" aria-labelledby="nav-price-tab">
                    <h4 class="mb-3 pl-3">價格說明</h4>
                    <ul>
                        <li>
                            包車僅限晚上 8 點以前結束, 8 點後將有附加費用: $50/30分鐘
                        </li>
                        <li>
                            如需另外提供導遊服務， 導遊費用另加， $180 起
                        </li>
                        <li>
                            包車客人人數不滿6位，小費每天：$ 30.00
                        </li>
                        <li>
                            包車客人超過6位，則每人每天$ 5.00
                        </li>
                        <li>
                            接機， 如果航班抵達時間于早上 7 點前， 或晚上 10 點后就會有附加費
                        </li>
                        <li>
                            送機， 如果航班出發時間于早上 8 點前， 或晚上 11 點后就會有附加費
                        </li>
                        <li>
                            國際機場接機另加 $50
                        </li>
                        <li>
                            中國新年期間， 中國國慶黃金周期間，聖誕新年假期 ：假期附加費 25% 起
                        </li>
                    </ul>
                    <h4 class="mt-5 mb-3 pl-3">包含</h4>
                    <p>
                    <ul>
                        <li>司機兼導遊服務</li>
                        <li>接機</li>
                        <li>送機</li>
                    </ul>
                    </p>
                    <h4 class="mt-5 mb-3 pl-3">不含</h4>
                    <p>
                    <ul>
                        <li>導遊服務</li>
                        <li>導遊費用</li>
                    </ul>
                    </p>
                </div>
                <div class="tab-pane fade pt-5 pb-5" id="nav-terms" role="tabpanel" aria-labelledby="nav-terms-tab">
                    <h4 class="mb-3 pl-3">註意事項</h4>
                    <ul>
                        <li>因天氣不足或天氣原因，本公司有權在啟程前或啟程後取消或更改行程，也有權縮短或延長旅程。</li>
                        <li>建議各位遊客購買旅行保險，如在行程中遇上任何事故，而導致損失或傷亡，本公司概不負責。</li>
                        <li>如團友因任何事故未能參團，取消辦法：(1)出發三日前扣團費 75% (2)出發前三日內取消，所交費用概不退還。</li>
                        <li>團友旅遊安全由各交通公司、旅店、各旅遊景點等直接負責，與本公司無涉。</li>
                        <li>價格如有更改，恕不另行通知</li>
                    </ul>
                </div>
                <div class="tab-pane fade pt-5 pb-5" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
                    <p>暫時沒有客戶評論。</p>
                </div>
            </div>
        </div>

        <div class="col-sm-5 summary mb-5">
            <div class="card mb-5">
                <form action="">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item li-title">
                            <h4>悉尼市區遊 - 5小時包車</h4>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-5">
                                    <i class="fa fa-calendar" aria-hidden="true"></i> 出發日期
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="YYYY-MM-DD">
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">類型</th>
                                    <th scope="col">價格</th>
                                    <th scope="col">數量</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>5座</td>
                                    <td><span class="lang-en">$350</span></td>
                                    <td>
                                        <div class="col-auto">
                                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0 lang-en" id="inlineFormCustomSelect">
                                                <option selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>13座</td>
                                    <td><span class="lang-en">$390</span></td>
                                    <td>
                                        <div class="col-auto">
                                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0 lang-en" id="inlineFormCustomSelect">
                                                <option selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>20座</td>
                                    <td><span class="lang-en">$490</span></td>
                                    <td>
                                        <div class="col-auto">
                                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0 lang-en" id="inlineFormCustomSelect">
                                                <option selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>53座</td>
                                    <td><span class="lang-en">$650</span></td>
                                    <td>
                                        <div class="col-auto">
                                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0 lang-en" id="inlineFormCustomSelect">
                                                <option selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </li>
                        <li class="list-group-item">
                            <h5><span class="price-title font-weight-bold">總額:</span> <span class="price lang-en">$0</span></h5>
                        </li>
                        <li class="list-group-item text-center">
                            <button type="button" class="btn btn-outline-success mr-2" data-toggle="modal" data-target="#requestModal"><i class="fa fa-hand-o-up" aria-hidden="true"></i> 我要預訂</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <p class="mb-1">&nbsp;</p>
    </div>
</section>
<!-- End Content of the page -->

<!-- Request Modal -->
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/table.min.css">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title txt-green" id="exampleModalLabel"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 訂單</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="ui green unstackable table">
                    <thead>
                    <tr>
                        <th>產品</th>
                        <th>類型</th>
                        <th class="right aligned">金額</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <strong>悉尼市區遊 - 5小時包車</strong><br/>
                            出發日期: <span class="en">2017-12-20</span><br/>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">5座</div>
                                <div class="col-sm-4  lang-en">$350</div>
                                <div class="col-sm-4">
                                    <div class="col-auto">
                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option>0</option>
                                            <option value="1" selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="right aligned lang-en">$350</td>
                    </tr>
                    <tr>
                        <th colspan="3">悉尼市區遊 || 活動門票</th>
                    </tr>
                    <tr>
                        <td>觀光遊船</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">成人</div>
                                <div class="col-sm-4  lang-en">$39</div>
                                <div class="col-sm-4">
                                    <div class="col-auto lang-en">
                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3"selected>3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">小童</div>
                                <div class="col-sm-4 lang-en">$25</div>
                                <div class="col-sm-4">
                                    <div class="col-auto lang-en">
                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option selected>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="right aligned lang-en">$117</td>
                    </tr>
                    <tr>
                        <td>動物園</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-4">成人</div>
                                <div class="col-sm-4 lang-en">$39</div>
                                <div class="col-sm-4">
                                    <div class="col-auto lang-en">
                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option selected>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">小童</div>
                                <div class="col-sm-4 lang-en">$25</div>
                                <div class="col-sm-4">
                                    <div class="col-auto lang-en">
                                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                            <option selected>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="right aligned lang-en">$0</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold text-right price-title" colspan="2">總額</td>
                        <td class="right aligned font-weight-bold lang-en price">$467</td>
                    </tr>
                    </tbody>
                </table>

                <!-- Customer details -->
                <div class="customer-details">

                    <div class="card border-light mb-3" style="">
                        <div class="card-header font-weight-bold">顧客信息</div>
                        <div class="card-body">
                            <!-- <h4 class="card-title">Light card title</h4> -->
                            <p class="card-text">
                            <form>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="名字">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="姓">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="電子郵件">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="聯繫電話">
                                    </div>
                                    <!-- <div class="col">
                                        <button type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </div> -->
                                </div>
                            </form>
                            </p>
                        </div>
                        <div class="card-header font-weight-bold">特殊要求 <span class="font-weight-normal">(請填寫你的接送機資料,如航班號,航班抵達/
                            離開時間,酒店名,地點稱等)</span></div>
                        <div class="card-body">
                            <!-- <h4 class="card-title">Light card title</h4> -->
                            <p class="card-text">
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success"><i class="fa fa-paper-plane" aria-hidden="true"></i> 提交訂單</button>
            </div>
        </div>
    </div>
</div>
<!-- Request Modal -->