<!-- Content of the page -->
<section class="country-section container mt-4">
    <h2 class="section-heading">機場接送及包車</h2>

    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/service_details">
                <div class="card">
                    <img class="card-img-top" src="/images/card-sydney.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼市區遊 - 5小時包車</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$350</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">悉尼</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/service_details">
                <div class="card">
                    <img class="card-img-top" src="/images/card-sydney.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼市區遊 - 8小時包車</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$470</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">悉尼</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/service_details">
                <div class="card">
                    <img class="card-img-top" src="/images/card-sydney.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">藍山一日遊 - 10小時包車</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$520</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">藍山</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/service_details">
                <div class="card">
                    <img class="card-img-top" src="/images/port-stephens318x180.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">斯蒂芬港一日游 - 10小時包車</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$550</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">斯蒂芬港</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/service_details">
                <div class="card">
                    <img class="card-img-top" src="/images/port-stephens318x180.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">首都堪培拉一日游 - 12小時包車</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$650</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">藍山</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/service_details">
                <div class="card">
                    <img class="card-img-top" src="/images/hunter-valley318x180.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">獵人谷酒廠一日游 -  10小時包車</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$79</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">獵人谷</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/service_details">
                <div class="card">
                    <img class="card-img-top" src="/images/hunter-valley318x180.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">獵人谷酒廠一日游 -  10小時包車</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$79</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">獵人谷</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/service_details">
                <div class="card">
                    <img class="card-img-top" src="/images/airport-transfer.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼機場 - 市區酒店接送 (單程) </h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$100</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">悉尼</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 mb-3">
            <a class="card-href" href="/shops/service_details">
                <div class="card">
                    <img class="card-img-top" src="/images/airport-transfer.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">悉尼機場 - 悉尼西區/北區接送 (單程) </h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><span class="lang-en price">$140</span> 起</li>
                    </ul>
                    <div class="card-footer text-muted">
                        <span class="badge badge-success">悉尼</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <nav aria-label="Page navigation example lang-en">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
<!-- End Content of the page -->