<!-- Content of the page -->
<section class="deals-section container mt-5 mb-5">
    <h2 class="section-heading">旅遊保險</h2>

    <p>精彩的旅行有時可能也會出些小意外。</p>

    <p>見聞旅行社為你提供了非常多樣的旅游保險供你選擇。包括國際旅遊保險，年度多次旅游保險澳洲境內旅遊以及郵輪假期。所有的保險產品包括全天候的緊急援助，不收取额外費用。</p>

    <p>我們提供最好的兩家保險公司，你可以按自己的需求進行選擇。</p>

    <p>点击下面 Aussietravelcover  或  QBE  图片，申请在线评估可以得到最多15%的优惠</p>

    <p><a href=""><img src="/images/qbe.png" alt=""></a><a href=""><img src="/images/AussietravelcoverLogo.jpg" alt=""></a></p>

    <p>** Aussietravelcover by Allianz GlobalAssistance  (AFSL 245631)</p>
    <p>** QBE保险（澳大利亚）有限公司 78003 191 035 (AFSL 239545)</p>
</section>
<!-- End Content of the page -->